<mat-toolbar style="background-color: rgba(0, 48, 46, 1);" fxLayout="row" xLayoutAlign="space-between center" fullscreen>
  <span *ngIf="isAdmin || isSeller">
    <button id="menuBtn" mat-icon-button (click)="ontoggel(opened)" class="menu">

      <mat-icon matTooltip="Main menu">Menu</mat-icon>
    </button>
</span>
  <!-- home -->
    <div class="home" fxFlex="10" fxLayoutGap="5%"></div>
    <!-- logo  name -->
    <nav id="myNavbar" class="navbar navbar-expand-lg navbar-dark sticky-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="home"><img src="assets/iconTitre.png" height="75"> A <span >La</span> Marocaine</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="plats">Nos plats</a>
              <a class="nav-link" href="#chefs">Nos chefs</a>
              <a class="nav-link" href="#condidature"  >Candidature</a>
          </div>
          </div>
      </div>
    </nav>
  <!-- Shooping cart -->
  <div class="cart" align="center" *ngIf="!isAdmin && !isSeller">
    <span style="color: #fff; font-size: small;"></span>
            <button mat-icon-button routerLink="/cart" matTooltip="Cart">
                  <mat-icon matBadge="{{ length }}" matBadgeSize="small">add_shopping_cart</mat-icon>
             </button>
        </div>
        <!-- to give 1 space for mobile -->
        &nbsp;
        <!-- Profile -->
        <div class="profile" fxFlex="5" align="center">
            <button mat-icon-button [matMenuTriggerFor]="menu">
      <!-- <img [matMenuTriggerFor]="vertebrates" src="assets\account_circle-24px.svg" width="80%" style="color: #fff;" /> -->
      <mat-icon style="transform: scale(1.7);">account_circle</mat-icon>
    </button>
            <mat-menu #menu="matMenu">
                <div fxLayout="row" fxFlex="100" style=" width: 15em; height: 15em; position: initial; z-index: 3100;
                      " fxLayoutAlign="center center">
                    <div style="overflow: hidden; height: 12em;">
                        <div style="margin-left: 6px;">
                            <img style="height: 60px; width: 60px; padding: 0px; margin: 0px;" class="topic-avatar" mat-card-avatar src="assets\profilePic.jpg" />
                        </div>
                        <div style="width: 100%;" *ngIf="isLogin">
                            <h4>{{ name }}</h4>
                        </div>
                        <div class="div-profile" *ngIf="isLogin">
                            <div class="div-signout">
                                <button (click)="logout($event)" style="background-color: whitesmoke;" mat-button [routerLink]="['']" class="signout-button">Signout
                                </button>
                            </div>
                        </div>
                        <div class="div-profile" *ngIf="!isLogin">
                            <div class="div-signout" style="margin-top: 60px; margin-left: 5px;">
                                <button [routerLink]="['/login']" mat-button class="signout-button" style="background-color: whitesmoke;">Login
                                 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-menu>
        </div>
</mat-toolbar>
